.main_container {
    max-width: 960px;
    margin: 200px auto;
    background-color: #fff;
}
.list {

}
.listItem {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(178,186,194,.15);
}

.listItem a {
    color: black;
}
.listItem:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.09);
}
.item_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_image {
    width: 5rem;
    height: 5rem;
    background-size: cover;
}

.loadingContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }